.fondo{
    background-color:aquamarine ;
}
.cabecera{
    justify-content: center;
    display: flex;
    align-items: center;
    border: solid black 5px;
    border-radius: 50px;
    color:darkblue;
    height: 75px;
    width: auto;
    font-size: 30px;
}
.general{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    border-radius: 50px;
    width: auto;
    height: 600px;
    margin-top: 10px;
}
.letra{
    display: flex;
    justify-content:baseline;
    align-items:baseline;
    margin-bottom: 550px;
    font-size: 20px;
    margin-left: 400px;
}
.matriz{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 40px;
    width: 40px;
}